@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="hero-left">
     
    </div>
    <div class="hero-right">
        <h2>Bienvenue dans votre boutique de livre !</h2>
        <h3>Pensez à commander en cliquant sur le menu :</h3>
        <p>Livre pour voir la liste des livres disponibles</p>
        <p>Panier pour voir votre panier</p>
    </div>
</div>